.contact-page{
    .contact-content{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15% 0;
        .contact-image{
            width: 200px;
            img{
                object-fit: cover;
                border-radius: 50%;
                object-fit: cover;
                box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);     
            }
        }
        .greeting{
            width: 50%;
            vertical-align: middle;
            display: table-cell;
            h2{
                font-family:'Poppins', sans-serif;
                font-weight: 100;
                margin-bottom: 2rem;
            }
            p{
                font-family:'Poppins', sans-serif;
                margin-bottom: 2rem;
            }
            .form{
                width: 100%;
                ul{
                    li{
                        list-style: none;
                        margin-bottom: 1rem;
                        overflow: hidden;
                        display: block;
                        position: relative;
                        opacity: 0;
                        animation: fadeInUp 1s 1s;
                        animation-fill-mode: forwards;
                    }
                    li.half{
                        width: 49%;
                        margin-left: 2%;
                        float: left;
                        clear: none;
                        &:first-child{
                            margin-left: 0;
                        }
                    }
                    li:nth-child(3){
                        width: 100%;
                    }
                    input[type="text"], input[type="email"]{
                        width: 100%;
                        border: 1px solid #33353b;
                        padding: 0.5rem;
                        box-sizing: border-box;
                        font-size: 1rem;
                    }
                    textarea{
                        width: 100%;
                        min-height: 100px;
                        border-color: #33353b;
                        padding: 0.5rem;
                        box-sizing: border-box;
                        font-size: 1.03rem;
                    }
                    .button{
                        background-color: #33353b;
                        color: #ffffff;
                        letter-spacing: 5px;
                        padding: 0.6rem 1.7rem;
                        font-size: 1rem;
                        border: none;
                        float: right;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1100px){
    .contact-page{
        .contact-content{
            padding: 2% 0;
            flex-direction: column;
            .contact-image{
                width: 130px;
                img{
                    margin-top: 2rem;
                }
            }
            .greeting{
                h2{
                    text-align: center;
                    margin: 1rem 0;
                }
                p{
                    text-align: justify;
                }
                .form{
                    ul{
                        .button{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 768px){
    .contact-page{
        .contact-content{
            padding: 2% 0;
            flex-direction: column;
            .contact-image{
                width: 130px;
                img{
                    margin-top: 6.5rem;
                }
            }
            .greeting{
                width: 85%;
                h2{
                    text-align: center;
                    margin: 1rem 0;
                }
                p{
                    text-align: justify;
                }
                .form{
                    ul{
                        .button{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}